.image {
        max-width: 8rem;
        min-width: 8rem;
        max-height: 8rem;
        min-height: 8rem;
        border-radius: 15%;
        margin-top: 5px;
}

.button {
    margin: 5px 5px 5px 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
    width: 100%;
}

.bio {
    word-break: break-all
}

.name {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

.horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
}